<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Account #<%= @account.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/accounts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_supplier == @account.supplier %>
          <a href="/accounts/<%= @account.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit account
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_supplier == @account.supplier %>
          <a href="/delete_account/<%= @account.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete account
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Supplier
      </dt>
      <dd>
        <% if @account.supplier.present? %>
          <a href="/suppliers/<%= @account.supplier_id %>">
            <%= @account.supplier.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Acc type
      </dt>
      <dd>
        <%= @account.acc_type %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@account.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@account.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

